@model TP_SGIAMT.Models.TConcurso

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h2>Eliminar Concurso</h2>
</section>
<h3>Desea eliminar el Concurso?</h3>
<section>
    <div class="box box-default">
        <div class="box-body">
            <div>

                <dl class="dl-horizontal">
                    <dt scope="col">
                        Nombre Concurso
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.VcNombreCon)
                    </dd>
                    <dt scope="col">
                        Lugar Concurso
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.VcLugarCon)
                    </dd>
                    <dt scope="col">
                        Fecha Concurso
                    </dt>
                    <dd>
                        @Html.ValueFor(model => model.DcFechaConcurso, "{0:dd/MM/yyyy}")
                    </dd>
                    <dt scope="col">
                        Cantidad de Seriado
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IcCantidadSeri)
                    </dd>
                    <dt scope="col">
                        Cantidad de Nobel
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IcCantidadNove)
                    </dd>
                    <dt scope="col">
                        Estado del Concurso
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FkIecIdEstadoNavigation.VeNombreEsta)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="PkIcIdConcurso" />
                    <button type="submit" value="Eliminar" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                    </button>
                    <a class="btn btn-primary" asp-action="Index">
                        <span class="glyphicon glyphicon-arrow-left"></span> Regresar
                    </a>
                </form>
            </div>
        </div>
    </div>
</section>